<%- include('../include/head.ejs') %>
<link rel="stylesheet" href="../../css/index.css" />
<body>
  <div class="container">
    <h2>Home</h2>
    <!-- <a href="/post">Register</a> -->
   
  </div>

  <!-- <%- include('../include/end.ejs') %> -->
</body>
</html>
